/* RESET */
body {
	background:#FEFCF2;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size:100%;
	margin:1em auto;
	width:75%;
}

.anchor-men {
	background:#fff;
	-webkit-box-shadow:0 0 10px #999; -moz-box-shadow:0 0 10px #999; box-shadow:0 0 10px #999;
	float:right;
	height:50%;
	margin-right:1%;
	padding:1em;
	-webkit-transform: rotate(5deg); -moz-transform: rotate(5deg);
}

footer {
	background:#FEFCF2;
	width:100%;
	bottom:0;
	font-size:0.75em;
	position:relative;
	padding:0.5em 0;
	text-align:right;	
}

p { font-size:0.85em; }

h1 {
	color:goldenrod;
}

h1 em {
	color:gold;
	font-size:2em;
	text-shadow:-2px -2px 0 white, -4px -4px 0 wheat;
}

a#download {
	background:crimson;
	color:white;
	display:inline-block;
	font-weight:bold;
	margin:1em 0;
	padding:1em;
	text-decoration:underline;
}

a {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font:inherit;
	text-decoration:none;
  vertical-align:baseline;
}

/*------------------------------------------------
* ANCHOR STYLES
*-----------------------------------------------*/

/* SIMPLE */

a.simple:link {
	color:#0080FF;
}
a.simple:visited { color:#400080; }
a.simple:hover,
a.simple:active {
	text-decoration:underline;
}

/* 37SIGNALS */

a.signals:link {
	color:#0080FF;
	text-decoration:underline;
}
a.signals:visited { color:#004080; }
a.signals:hover,
a.signals:active {
	background:#0080FF;
	color:#FFF;
	text-decoration:none;
}

/* SVN */

a.svn:link {
	color:#000;
	text-decoration:underline;
}
a.svn:visited { color:#999; }
a.svn:hover,
a.svn:active {
	background:#000;
	color:#FFF;
}

/* HIGHLIGHT */

a.highlight:link {
	background:#DBF9FF;
	color:#000;
}
a.highlight:visited { color:#000080; }
a.highlight:hover,
a.highlight:active {
	border-bottom:1px dashed #369;
}

/* HELP */

a.help:link {
	background:#F60;
	border-radius:0.2em; -webkit-border-radius:0.2em; -moz-border-radius:0.2em;
	color:#FFF;
	padding:1px;
	text-shadow:1px 1px 1px #630;
}
a.help:visited { color:#FFF; }
a.help:hover,
a.help:active {
	background:#FF8000;
}

/* TAG */

a.tag:link {
	background:#9C6;
	border-radius:0.2em; -webkit-border-radius:0.2em; -moz-border-radius:0.2em;
	color:#008000;
	padding:1px 0.25em;
}
a.tag:visited { color:#FFF; }
a.tag:hover,
a.tag:active {
	background:#408000;
	color:#FFF;
}

/* STACK */

a.stack:link {
	background:#E0EAF1;
	color:#07C;
	padding:0.25em 0.5em;
}
a.stack:visited { color:#369; }
a.stack:hover,
a.stack:active {
	text-decoration:underline;
}

